/* Split the screen in half
.split {
  height: 100%;
  width: 50%;
  position: absolute;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side
.left {
 left: 0;
  background-color: rgb(235, 34, 34);
  color: white;
  font-size: large;
}

/* Control the right side
.right {
  right: 0;
  background-color: black;
}

/* If you want the content centered horizontally and vertically
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding:19% 15%;
  border: 7px solid black;
  border-radius: 15px;
}
*/

/* Style the image inside the centered container, if needed
.centered img {
  width: auto;
  border-radius: 12px;
}
*/

/* ************************************************************* */

/*
.contactForm{
  border: 2px solid black;
  border-radius: 25px;
  width: 365px;
  margin-top: 2rem;
  margin-left: 4rem;
  margin-bottom: 2rem;
  text-align: center;
} */

/* .btn-primary{
  border: 2px solid;
  background-color: rgb(231, 224, 29);
  border-color: black;
  color: black;
  font-size: larger;
  margin-top: 2rem;
}


#contactImg{
  position: static;
  top: 0;
  left: 0;
} */

  /* Preserve aspet ratio
  min-width: 100%;
  min-height: 100%;
} */




/* ************************************************************** */
.input{
  text-align: center;
  width: 70%;
}


/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: absolute;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
 left: 0;
  background-color: #111;
}

/* Control the right side */
.right {
  right: 0;
  background-color: rgb(162,18,22);
  color: white;
  font-size: larger;
   font-family: Georgia, serif;
}

/* If you want the content centered horizontally and vertically */
.centeredLeft {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black !important;
}

/* If you want the content centered horizontally and vertically */
.centeredRight {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 3px solid black;
  border-radius: 25px;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: auto;
  border-radius: 25px;
}

.about{
  position: sticky;
  height: 120vh;
}

.inside{
padding-left: 90px;
padding-right: 90px;
padding-bottom: 85px;
padding-top: 80px;
margin-left: 2rem;
margin-right: 2rem;
}

.btn{
  height:50px;
    width:215px;
    color: white;
    font-size: larger;
}








