

<div class="color  ">
  <div class="container pt-5" id="container">
  <div class="form-container sign-up-container">
    <form (ngSubmit)="userRegister()">
      <h1>Create Account</h1>
      <div class="social-container">
        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <input type="text" id="firstName" placeholder=" Όνομα" name="firstName" [(ngModel)]="registerModel.firstName" required>
      <input type="text" id="lastName"  name="lastName" placeholder="Επώνυμο" [(ngModel)]="registerModel.lastName" required>
      <input type="email" id="#email"  name="email" placeholder="example@gmail.com" [(ngModel)]="registerModel.email" required>
      <input type="password" id="#password"  name="password" placeholder="Κωδικός" [(ngModel)]="registerModel.password" required>
      <input type="phone" id="phoneNumber" name="phoneNumber" placeholder="Τηλέφωνο"  [(ngModel)]="registerModel.phoneNumber" required>
      <input type="text" id="address" name="address" placeholder="Διεύθυνση Κατοικίας"  [(ngModel)]="registerModel.address" required>
      <button type="submit" name="submit">Εγγραφή</button>
    </form>
  </div>
  <div class="form-container sign-in-container">
    <form (ngSubmit)="userLogin()">
      <h1>Sign in</h1>
      <div class="social-container">
        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <input type="email" id="email"  placeholder="Email" name="email" [(ngModel)]="loginModel.email" required/>
      <input type="password" id="password" placeholder=" Κωδικός Πρόσβασης" name="password"  [(ngModel)]="loginModel.password" required/>
      <a href="https://www.efood.gr">Forgot your password?</a>
      <button>Sign In</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Welcome ΜπακLOVEας!</h1>
        <p>Το ξέρουμε ότι σου λείψαμε, μπες τώρα για να απολαύσεις τα πιο νόστιμα φαγητά.</p>
        <button class="ghost" id="signIn" (click)="inClick()">Sign In</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Hello, Foodlover!</h1>
        <p>Δημιούργησε τώρα τον λογαριασμό σου και έλα μαζί μας για να απολαύσεις τα πιο νόστιμα φαγητά.</p>
        <button class="ghost" id="signUp" (click)="upClick()">Sign Up</button>
      </div>
    </div>
  </div>
</div>
</div>


