<div class="cardUserDetails" style="width: 18rem; margin: auto; margin-top: 5%; margin-bottom: 5%; border: blue solid; border-radius: 12px; ">
  <img class="card-img-top" src="../../../assets/images/userImages/userloggin.jpg"  alt="Card image cap">
  <div class="card-body">
    <br>
    <h5 class="card-title" style="text-align: center;">Συνδέσου στο λογαριασμό σου!</h5>
    <p class="card-text"></p>
  </div>
  <br>
  <br>
  <form (ngSubmit)="userLogin()">
    <label for="email"></label>
    <input type="email" id="email" class="form-control" style="margin-left:12px;" placeholder="Email" name="email" style="text-align: center; color: rgb(103, 106, 106);" [(ngModel)]="loginModel.email" required>
<br>
    <label for="password"></label>
    <input type="password" id="password" class="form-control" placeholder=" Κωδικός Πρόσβασης" name="password" style="text-align: center; color: rgb(103, 106, 106);" [(ngModel)]="loginModel.password" required>
  <div class="card">
    <input class="btn btn-primary" type="submit" name="submit" value="Σύνδεση" >
  </div>
  </form>
</div>

