<div class="cardUserDetails" style="width: 18rem; margin: auto; margin-top: 5%; margin-bottom: 5%; border: blue solid; border-radius: 12px; ">
  <img class="card-img-top" src="../../../assets/images/userImages/userloggin.jpg"  alt="Card image cap">
  <div class="card-body">
    <br>
    <h5 class="card-title" style="text-align: center;">Συνδέσου στο λογαριασμό σου!</h5>
    <p class="card-text"></p>
  </div>
  <br>
  <br>
  <form (ngSubmit)="userLogin()">
    <label for="email"></label>
    <input type="email" id="email" class="form-control" style="margin-left:12px;" placeholder="Email" name="email" style="text-align: center; color: rgb(103, 106, 106);" [(ngModel)]="loginModel.email" required>
<br>
    <label for="password"></label>
    <input type="password" id="password" class="form-control" placeholder=" Κωδικός Πρόσβασης" name="password" style="text-align: center; color: rgb(103, 106, 106);" [(ngModel)]="loginModel.password" required>
  <div class="card">
    <input class="btn btn-primary" type="submit" name="submit" value="Σύνδεση" >
  </div>
  </form>
</div>




<div class="cardLogin" style="width: 18rem;">
  <img class="card-img-top" src="../../../assets/images/userImages/userloggin.jpg"  alt="Card image cap">
  <div class="card-body">
    <br>
    <h5 class="card-title">Εγγραφή Νέου Χρήστη</h5>
    <p class="card-text"></p>
  </div>
  <br>

  <form (ngSubmit)="userRegister()">
    <label for="firstName"></label>
    <input type="text" id="firstName" class="form-control" placeholder=" Όνομα" name="firstName" style="text-align: center; color: rgb(103, 106, 106);" [(ngModel)]="registerModel.firstName" required>

    <label for="lastName"></label><br>
    <input type="text" id="lastName"  class="form-control" name="lastName" placeholder="Επώνυμο" style="text-align: center; color: rgb(103, 106, 106);" [(ngModel)]="registerModel.lastName" required>

    <label for="phoneNumber"></label><br>
    <input type="phone" id="phoneNumber" class="form-control" name="phoneNumber" placeholder="Τηλέφωνο" style="text-align: center; color: rgb(103, 106, 106);" [(ngModel)]="registerModel.phoneNumber" required>

    <label for="address"></label><br>
    <input type="text" id="address" class="form-control" name="address" placeholder="Διεύθυνση Κατοικίας" style="text-align: center; color: rgb(103, 106, 106);" [(ngModel)]="registerModel.address" required>

    <label for="email"></label><br>
    <input type="email" id="email" class="form-control" name="email" placeholder="example@gmail.com" style="text-align: center; color: rgb(103, 106, 106);" [(ngModel)]="registerModel.email" required>

    <label for="password"></label><br>
    <input type="password" id="password" class="form-control" name="password" placeholder="password" style="text-align: center; color: rgb(103, 106, 106);" [(ngModel)]="registerModel.password" required>
  <br>
  <div class="card">
    <input class="btn btn-primary" type="submit" name="submit" value="Εγγραφή">
  </div>
  </form>
</div>

