{{ getStoreCategory| json}}



      <!-- <div class="homepage-fixed-offer col-3">
        <div class="mb-5">
          <a href="/delivery/menu/pizza-fan" class="hover-no-decoration" >
            <img src="https://www.e-food.gr/cdn-cgi/image/w=268,h=168,fit=cover,q=100,f=auto/site-assets/img/welcome/offers/pizzafan.jpg" alt="Pizza"/>
          </a>
        </div>
        <a href="/delivery/menu/pizza-fan" class="hover-no-decoration">
          <div class="d-flex justify-content-center">
            <h3 class="pr-5">Pizza</h3>
            <span class="small flex-shrink-0">
              <i class="mr-3 text-muted fa-sm" aria-hidden="true" ></i>
            </span>
          </div>
        </a>
      </div>
      <div class="homepage-fixed-offer col-3" data-restaurant_id="">
        <div class="mb-5">
          <a href="/delivery/menu/goodys" class="hover-no-decoration">
            <img src="https://www.e-food.gr/cdn-cgi/image/w=268,h=168,fit=cover,q=100,f=auto/site-assets/img/welcome/offers/goodys-xtreme-chilli-burger.jpg" alt="Burger"/>
          </a>
        </div>
        <a href="/delivery/menu/goodys" class="hover-no-decoration">
          <div class="d-flex justify-content-center">
            <h3 class="pr-5">Burger</h3>
            <span class="small flex-shrink-0">
              <i class="mr-3 text-muted fa-sm" aria-hidden="true"></i>
            </span>
          </div>
        </a>
      </div>
      <div class="homepage-fixed-offer col-3" data-restaurant_id="">
        <div class="mb-5">
          <a href="/delivery/menu/roma-pizza" class="hover-no-decoration">
            <img  src="../../../assets/images/storeCategoryImages/coffee.jpg"  alt="Coffee" style="width:268px; height: 168px;" />
          </a>
        </div>
        <a href="#"  class="hover-no-decoration">
          <div class="d-flex justify-content-center" style="color: red;">
            <h3 class="pr-5">Καφές</h3>
            <span class="small flex-shrink-0">
              <i class="mr-3 text-muted fa-sm" aria-hidden="true" ></i>
            </span>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>-->
