<div class="cardLogin" style="width: 18rem;">
  <img class="card-img-top" src="../../../assets/images/userImages/userloggin.jpg"  alt="Card image cap">
  <div class="card-body">
    <br>
    <h5 class="card-title">Εγγραφή Νέου Χρήστη</h5>
    <p class="card-text"></p>
  </div>
  <br>
  <form action="contact-form" >
    <label for="firstname"></label>
    <input type="text" id="firstname" placeholder=" Όνομα" style="text-align: center; color: rgb(103, 106, 106);" required>

    <label for="lastname"></label><br>
    <input type="text" id="lastname" placeholder="Επώνυμο" style="text-align: center; color: rgb(103, 106, 106);" required>

    <label for="phoneNumber"></label><br>
    <input type="phone" id="phone" placeholder="Τηλέφωνο" style="text-align: center; color: rgb(103, 106, 106);" required>

    <label for="address"></label><br>
    <input type="text" id="address" placeholder="Διεύθυνση Κατοικίας" style="text-align: center; color: rgb(103, 106, 106);" required>

    <label for="email"></label><br>
    <input type="text" id="email"  placeholder="example@gmail.com" style="text-align: center; color: rgb(103, 106, 106);" required>
  </form>
  <br>
  <div class="card">
    <input class="btn btn-primary" type="submit" name="submit" value="Εγγραφή" >
  </div>
</div>
