<section class="homepage container" style="text-align: center; ">
  <div class="d-none d-lg-block"  >
    <br>
    <h3 class="h2 mt-0 mb-4" style="text-decoration: underline;"> Δημοφιλέστερα καταστήματα: </h3>
    <br>
    <br>
    <div class="row" >
      <div class="col-3" *ngFor="let store of popularStores.data">
        <div class="mb-5" >
          <a href=""   (click)="productsByStore(store.key); getStoreId(store.key) "  [routerLink]="['/Store-item/'+store.key+'/products']" class="hover-no-decoration">
            <img src="../../../assets/images/KFC.jpg" alt="Σουβλάκι"/>
          </a>
        </div>
        <a href="" class="hover-no-decoration" style="text-decoration:none">
          <div class="d-flex justify-content-center" >
            <h3 class="pr-5" style="text-decoration: none;" >{{store.value}}</h3>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>


