<section class="homepage container" style="text-align: center; ">
  <div class="d-none d-lg-block"  >
    <br>
    <h3 class="h2 mt-0 mb-4" style="text-decoration: underline;"> Τα Δημοφιλέστερα καταστήματα ανα κατηγορία: </h3>
    <br>
    <br>
    <div class="row" >
      <div class="col-3">
        <div class="mb-5" >
          <a href=""   routerLink="" class="hover-no-decoration">
            <img src="../../../assets/images/storeImages/McDonalds logo.png" alt="Σουβλάκι"/>
          </a>
        </div>
        <a href="" class="hover-no-decoration" style="text-decoration:none">
          <div class="d-flex justify-content-center" >
            <h3 class="pr-5" style="text-decoration: none;" >store name</h3>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>


<!-- *ngFor="let store of popularStores.data" -->

