<div class="cardUserDetails" style="width: 18rem;">
  <img class="card-img-top" src="../../../assets/images/userImages/userloggin.jpg"  alt="Card image cap">
  <div class="card-body">
    <br>
    <h5 class="card-title" style="text-align: center;">Πληροφορίες Χρήστη</h5>
    <p class="card-text"></p>
  </div>
  <br>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Όνομα:</li>
    <li class="list-group-item">Επώνυμο:</li>
    <li class="list-group-item">Τηλέφωνο:</li>
    <li class="list-group-item">Διεύθυνση:</li>
    <li class="list-group-item">Email:</li>
  </ul>
  <br>
  <div class="orderDiv">
    <p>Για να δείτε το ιστορικό των παραγγελιών σας πατήστε παρακάτω:</p>
    <div class="orderHistory">
      <a href="">Ιστορικό Παραγγελιών</a>
    </div>
  </div>

  <div class="card">
    <input class="btn btn-primary" type="submit" name="submit" value="Aποσύνδεση" >
  </div>
</div>

