<nav class="navbar navbar-expand-lg navbar-light px-4 py-4">
  <a class="navbar-brand logoBtn" href="#" style="color: white; ">
    <img height="60px"  style="margin-right: 5px;" src="https://cdn-icons-png.flaticon.com/512/5787/5787016.png"/>WeFood</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justifyEnd" id="navbarSupportedContent">
    <form class="form-inline mx-4 mx-lg-5 justifySearch">
      <input class="form-control mr-sm-2 searchBar" type="search" placeholder="Search" aria-label="Search" placeholder="Αναζήτησε κατάστημα με βάση το όνομα" />
        <button class="btn btn-outline-danger my-2 my-sm-0 searchBtn" type="submit" > 🔎</button>
    </form>
<div class="dropdown">
  <label for="labelForstoreCategory" style="color: white; font-size: 1.3rem; margin-right: 15px;">Κατάστημα ανά κατηγορία </label>
  <select name="selectStoreCategory" *ngFor="let store of stores.data">
    <option value="storeName">{{store.name}}</option>
    <option value="storeName">koukou</option>
    <option value="storeName">roukou</option>
  </select>
</div>


    <ul class="navbar-nav mr-auto" >
      <li class="nav-item"  routerLink="/Contact-us">
        <a class="nav-link" >Επικοινωνία</a>
      </li>
    </ul>
    <li  routerLink="/Cart">
      <a class="btn btn-outline-danger btn-lg" style="background-color: rgb(200, 23, 24)">
        <span class="glyphicon glyphicon-shopping-cart"></span> Καλάθι
      </a>
    </li>
    <div class="dropdown">
      <button class="user dropbtn"  routerLink="/User">
        <img class="userimg" src="../../../../assets/images/userImages/account.jpg" />
      </button>
      <div class="dropdown-content">
        <a href="#" routerLink="/Register">Register</a>
        <a href="#" routerLink="/Log-in">Log in</a>
        <a href="#" routerLink="/User">User Info</a>
      </div>
    </div>

  </div>
</nav>


