<div class="popularHeader">
  <h3>Τα 10 κορυφαία προϊόντα που επιλέγουν οι χρήστες μας:</h3>
</div>
<div class="container" style="margin-top:50px;">
  <div class="row">
    <div class="col-md-3" *ngFor="let item of popularProducts.data">
      <div class="card-sl">
        <div class="card-image">
          <img
            src="../../../assets/images/storeitemImages/burger.jpg" alt="Burger"/>

          <a class="card-action" ><i class="fa fa-heart"></i></a>
          <div class="card-heading">
            <p class="card-text">{{ item.storeItemName }}</p>
          </div>
          <div class="card-text">
            <p class="card-text">Κατηγορία: {{ item.productCategory }}</p>
          </div>
          <div class="card-text">

          </div>
          <div class="card-footer">
            <p><button class="card-button"(click)=" getStoreId(item.storeId )"
                       [routerLink]="['/Store-item/'+item.storeId+'/products']" >Δες το στο μαγαζί!</button></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- {{ popularProducts.data|json}} -->
