<div class="popularHeader">
  <h3>Τα 10 κορυφαία προϊόντα που επιλέγουν οι χρήστες μας:</h3>
</div>
<div style="justify-content: center; align-items: center;">
  <div class="card" *ngFor="let product of popularProducts.data">
    <div class="stores">
      <img
        src="../../../assets/images/storeitemImages/steak.jpg"
        alt="steak image"
        style="width: 100%"
      />
    </div>
    <div>{{ product.storeItemName }}</div>
    <br /><br />
  </div>
</div>

<!-- {{ popularProducts.data|json}} -->
